@import '../../UI/colors.scss';

.modal-content, .list-group-item {
  background: $color-main-dark;
  color: $color-main-light;

  & .close {
    color: $color-main-light;
  }
}

.list-group-item {
  background: $color-main-dark;
  color: $color-main-light;
  border: 1px solid $color-main-light;
}