@import '../../UI/colors.scss';

.attraction-card {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border: none !important;
  color: $color-main-light;

  &__img {
    height: 500px;
    object-fit: cover;
    filter: brightness(25%);
    opacity: .8;

    @media (max-width: 600px) {
      height: 300px;
    }
  }

  &__body {
    width: 70%;
    margin: 0 auto;
  }

  &__text {
    text-align: justify;
  }
}
