@import '../../UI/colors.scss';

.attraction-card {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border: none !important;
  color: $color-main-light;

  &__img {
    height: 400px;
    object-fit: cover;
    filter: brightness(25%);
    opacity: .8;
  }

  &__body {
    width: 70%;
    margin: 0 auto;
  }

  &__text {
    text-align: justify;
  }
}
