.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background: #212529;

  &__no-results {
    color: #fff;
  }
}
