@import '../../UI/colors.scss';

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background: $color-main-dark;

  &__no-results {
    color: $color-main-light;
  }
}
