@import '../../UI/colors.scss';

.country__heading {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-main-light;

  &-info {
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(2px);
    text-shadow: 2px 1px 7px $color-main-light;
    background-color: rgba(57, 56, 50, .5);;
  }
}
