.card {
  margin: 0 auto;
  width: 300px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #fff;

  &:hover {
    & .card__title {
      color: #03accd;
    }

    & .card__img {
      filter: brightness(35%);
      opacity: .9;
    }
  }

  &__img {
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    filter: brightness(25%);
    opacity: .8;
    transition: all .4s ease-in-out;  
  }

  &__title,
  &__subtitle,
  &__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .4s ease-in-out;  
  }
}
